[ req ]
distinguished_name = req_distinguished_name
prompt             = no

[ req_distinguished_name ]
O  = Local MitM Protection CA
CN = Russian Trusted Root CA (Restricted)

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints       = critical, CA:true, pathlen:0
keyUsage               = critical, digitalSignature, cRLSign, keyCertSign
nameConstraints = critical, @permitted_domains

[ permitted_domains ]
# Конкретные домены
permitted;DNS.1 = example.com
permitted;DNS.2 = sub.domain.ru

# Домен и его поддомены:
# permitted;DNS.3 = domain.ru
# permitted;DNS.4 = .domain.ru

# При необходимости добавить всю зону, например:
# permitted;DNS.5 = .xn--p1ai
# permitted;DNS.6 = .ru
